@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* common style */
.common-width{
    max-width: 1600px;
    margin: 0 auto;
}
.bg-color{
    background-color: #1A0B2E;
}
.p-tag-descriton{
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 4px;
    opacity: 80%;
    
}
/* only use for text linear color */
.linear-text-color{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color: transparent;
    display: inline-block;
}

.display-flex{
    display: flex;
}

/* navbar related style */
.navbar{
    justify-content: space-around;
}
.nav-titile{
    padding-top: 30px;
    padding-bottom: 30px;
}
#tech{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
#wave{
    font-size: 2rem;
    font-weight: 800;
}

.nav-list {
    align-items: center;
    gap: 32px;
}
.nav-list li{
    list-style: none;
}
.list-item{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;   
}

.nav-btn{
    font-size: 1rem;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 135px;
    height: 44px;
    border: none;
    border-radius: 10000px;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

/* banner section style */
.banner-section{
    /* border: 1px solid aqua; */
    background-image: url("../image/hero-bg.png");
    justify-content: center;
    height: 760px;
}
.banner-main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 550px;
    height: 558px;
    margin-top: 80px;

}
.image-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 351px;
    height: 351px;
}
.circle-img{
    width: 100%;
}
.mic-img{
    position: absolute;
}
.img-btn:hover{
    background-color: #FB09B4;
    transform: scale(1.1);
    box-shadow: 0 5px 15px linear-gradient( #F7E93F 0%, #FB09B4 51%, #9100F8 100%);;
}
.img-btn{
    position: absolute;
    margin-top: -300px;
    margin-left: 200px;
    width: 75px;
    height: 38px;
    background-color: #00FF88;
    border-radius: 10000px;
    border: none;
    font-size: 1.20rem;
    color: #1A0B2E;
    font-weight: 600;
    padding: 8px 16px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    transition: all 0.5s ease;
}

.banner-contant{
    text-align: center;
}
.banner-titile{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 40px;
}

.btn-one{
   width: 201px;
   height: 44px;
   font-size: 1rem;
   font-weight: 500px;
   color: #FFFFFF;
   border: none;
   border-radius: 10000px;
   background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
   margin-top: 24px;
   cursor: pointer;
}

.btn-two{
    width: 147px;
    height: 44px;
    background-color: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    font-size: 1.10rem;
    margin-top: 24px;
    font-weight: 600px;
    margin-left: 9px;
    cursor: pointer;
}
/* podcast related style */
.podcast-section{
    height: 646px;
}
.podcast-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.pod-titile{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
#hr{
    max-width: 1200px;
    height: 0px;
    opacity: 10%;
    margin: 0 auto;
    margin-top: 80px;
    color: #FFFFFF;
}
.podcast-card{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 80px;
}
.card{
    width: 240px;
    height: 94px;
    text-align: center;
}
.card-titile{
    font-size: 3rem;
    color: #00FF88;
    font-weight: 800;
}

/* features related style */
.main-titile{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    
}
.features-section{
    height: 1276px;
    background-color: #230E3D;
}
.box-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.box-1{
    grid-row: span 2;
    width: 380px;
    height: 480px;
    padding: 40px;
    
}


.box{
    padding-left: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;

}
.box-2{
    grid-column: span 2;
    width: 790px;
    height: 225px;
    justify-content: flex-start;
}
.features-titile{
    font-size: 1.50rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 15px;
}
.festure-des{
    margin-top: 14px;
    opacity: 60%;
}

/* youtube video related style */
.episode-section{
    height: 1276px;
}
.episode-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.vedio-card{
    width: 380px;
    height: 440px;
    background-color: #250D44;
    border-radius:24px;

}
iframe{
    border-radius: 24px 24px 0px 0px;
}
.video-titile{
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 24px 24px 12px 24px;
}
.v-description{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 60%;
    padding: 0px 24px 12px 24px;
}
.duration{
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    color: #00FF88;
    padding: 0px 24px 24px 24px ;
}
.episode-section h3{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 120px;
}

.host-container{
    max-width: 1200px;
    height: 280px;
    margin: 0 auto;
    margin-top: 40px;
     background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}
.met-host{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 120px;
}
.host-img{
    margin: 40px 24px 40px 40px;
}
.host h4{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}
.host p{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 60%;
    margin-top: 16px;
}

.h-logo{
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
}
.host img{
 margin-top: 10px;
}

.img-and-logo{
    gap: 10px;
    margin-top: 16px;
}

/* footer section style */
.main-footer{
    height: 412px;
    background-image: url(../image/footer-bg.png);
}

.footer-container{
    max-width:1360px;
    height: 412px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}
.title-image{
    margin-bottom: 30px;
}
.footer-logo{
   margin-left: 20px;
   margin-right: 20px;
   font-size: 1rem;
   font-weight: 400;
   opacity: 60%;
   color: #FFFFFF;
   margin-top: 40px;
  
  
}
.footer-description{
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
    color: #FFFFFF;
}

.logo-container{
    margin-bottom: 32px;
}

.hide{
    display: none;
}

.btn-responsive{
    width: 18px;
    height: 13px;
    margin-top: 35px;
    margin-right: 30px;
    background: none;
    border: none;
    display: none;
}
@media screen and (max-width:576px) {
    .nav-list{
        display: none;
    }
    .navbar{
        justify-content: space-between;
    }
    .nav-btn{
        display: none;
    }
    .btn-responsive{
    width: 18px;
    height: 13px;
    margin-top: 40px;
    margin-right: 20px;
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    }
    .nav-titile{
        margin-left: 20px;
    }
    .banner-section{
        width: 100%;
        background-size: 100% auto;
        height: auto;
        height: 440px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .banner-main {
    height: auto;
}
    .image-section{
        height: 200px;
        width: 200px;
    }
    .mic-img{
        width: 50px;
        height: 76px;
    }
    .img-btn{
        margin-top: -140px;
        margin-left: 140px;
        width: 70px;
        height: 30px;
        font-size: 0.85rem;
    }
    .banner-titile {
    font-size: 2.25rem;
    margin-top: 25px;
}
.banner-contant{
    text-align: center;
    margin-bottom: 39px; 
    padding-right: 20px;
    padding-left: 20px;
    }

    .podcast-container{
        padding: 40px 20px;
    }
    .pod-titile{
        font-size: 2rem;
    }
    .p-tag-descriton {
    margin: 0px;
    margin-top: 0px;
    opacity: 60%;
    align-items: center;
    }
    .podcast-card{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    margin-bottom: 20px;

    }
    #hr{
        margin-top: 40px;
        max-width: 400px;
    }
    
}